.wrapper {
  max-width: 73.75rem; // 1180px
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: get-size('400');
  padding-right: get-size('400');
  box-sizing: content-box;
}